<template>
  <form :action="postUrl" method="POST">
    <input type="hidden" id="id_lembaga" name="id" :value="newInstitutionID" />

    <b-field
      label="Nama Yayasan"
      :type="errorMessages.hasOwnProperty('nama_yayasan') ? 'is-danger' : ''"
      :message="(errorMessages.hasOwnProperty('nama_yayasan')) ? errorMessages.nama_yayasan : []"
    >
      <b-input type="text" name="nama_yayasan" :value="oldData.nama_yayasan" />
    </b-field>

    <slot name="address-form"></slot>

    <button type="submit" class="button info">HTTP</button>
    <button class="button primary" @click="addFoundation">AJAX</button>
  </form>
</template>

<script>
import oldData from "../../../mixins/oldData";
import errorMessages from "../../../mixins/errorMessages";

export default {
  mixins: [oldData, errorMessages],
  name: "fdt-create-update-form",
  props: {
    postUrl: {
      type: String,
      required: true
    },
    newId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      id_institution: "",
      fields: [
        "id",
        "nama_yayasan",
        "alamat_utama",
        "nama_alamat",
        "nama_jalan",
        "provinsi",
        "kota",
        "kecamatan",
        "kelurahan"
      ]
    };
  },
  created() {
    // console.log({ errorProp: this.errors });
    this.$store.dispatch("formHandling/pushErrorMessages", this.errors);
  },
  computed: {
    newInstitutionID() {
      return this.id_institution === "" ? this.newId : this.id_institution;
    }
  },
  methods: {
    addFoundation(e) {
      e.preventDefault();

      const payload = this.manualFormModel(this.fields);
      axios
        .post("http://localhost:3000/test/foundation", payload)
        .then(e => (this.id_institution = e.data.new_id))
        .catch(err =>
          this.$store.dispatch(
            "formHandling/pushErrorMessages",
            err.response.data.errors
          )
        );
    },
    manualFormModel(elements) {
      let form = document.forms[0];
      let payload = {};

      elements.forEach(element => {
        payload[element] = form[element].value;
      });

      return payload;
    }
  }
};
</script>
