// Montserrat
@each $font-name in $font-names {
    $i: index($font-names, $font-name);
    @font-face {
        font-family: "Montserrat #{$font-name}";
        font-style: normal;
        font-weight: nth($font-weight, $i);
        src: url("#{$font-path}/Montserrat-#{$font-name}.ttf");
        src: local("Montserrat-#{$font-name}"),
            local("Montserrat-#{$font-name}"),
            url("#{$font-path}/Montserrat-#{$font-name}.ttf") format("truetype");
    }
}

// Border dark
@mixin borderDark($dark-level, $side:"all") {
    @if $side == "all" {
        border: 1px solid $dark-level;
    } @else if $side == "top" {
        border-top: 1px solid $dark-level;
    } @else if $side == "right" {
        border-right: 1px solid $dark-level;
    } @else if $side == "bottom" {
        border-bottom: 1px solid $dark-level;
    } @else if $side == "left" {
        border-left: 1px solid $dark-level;
    } @else if $side == "x-axis" {
        border-left: 1px solid $dark-level;
        border-right: 1px solid $dark-level;
    } @else if $side == "y-axis" {
        border-top: 1px solid $dark-level;
        border-bottom: 1px solid $dark-level;
    }
}

// Border radius
@mixin borderRadius {
    border-radius: 7px;
}

// Box-shadow
@mixin sectionBoxShadow {
    box-shadow: 0 3px 7px rgba(0, 0, 0, .11);
}