// Global
$font-path: "/fonts";

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Montserrat
$font-names: ExtraLight Regular Bold;
$font-weight: 100 400 600;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$dark: #3e3e3e;
$dark-light: rgba(62,62,62,.75);
$dark-lighter: rgba(62,62,62,.5);
$dark-super-light: rgba(62,62,62,.35);
