.app-card {
    @include borderDark($dark-super-light);
    @include borderRadius;
    @include sectionBoxShadow;
    @apply bg-white;

    .app-card--content {
        padding: 30px;
    }
}

.app-card--outer-title {
    @apply text-4xl text-left mb-4 font-bold;
}

@import "app-card/table";