<template>
  <form id="complete-registration-form" :action="routeUrl" method="POST">
    <div class="card-content">
      <!-- Data Informasi Pribadi -->
      <personal-information-form>
        <h3 class="is-size-4">Data Pribadi</h3>
      </personal-information-form>
      <hr />
      <!-- Data Alamat -->
      <address-form :adm-reg="admReg">
        <h3 class="is-size-4">Data Alamat</h3>
        <template v-slot:alamat_utama>
          <input type="hidden" name="alamat_utama" value="1" />
        </template>
      </address-form>
    </div>
    <footer class="card-footer">
      <a @click="submitForm" class="card-footer-item">Kirim</a>
    </footer>

    <!-- Default slot: Laravel CSRF Token -->
    <slot></slot>
  </form>
</template>

<script>
// AddressForm registered globally in app.js

export default {
  props: {
    routeUrl: {
      type: String,
      required: true
    },
    admReg: {
      type: Array,
      required: true
    }
  },
  methods: {
    submitForm() {
      document.getElementById("complete-registration-form").submit();
    }
  }
};
</script>

<style>
</style>
