<template>
    <div class="flex flex-wrap content-center bg-blue-400 h-screen">
        <div>
            <div class="p-3 bg-white m-1">A</div>
            <div class="p-3 bg-white m-1">B</div>
            <div class="p-3 bg-white m-1">C</div>
            <div class="p-3 bg-white m-1">D</div>
        </div>
    </div>
</template>