<template>
  <form :action="postUrl" method="POST">
    <input v-if="mode === 'update'" type="hidden" name="_method" value="PATCH">
    <b-field
      label="Nama Sekolah"
      :type="errorMessages.hasOwnProperty('nama_sekolah') ? 'is-danger' : ''"
      :message="showErrorMessages('nama_sekolah')"
    >
      <b-input type="text" name="nama_sekolah" :value="currentData.nama_sekolah || null" placeholder="SD Islam Terpadu Wihdatul Ummah" />
    </b-field>

    <b-field
      label="Tingkatan"
      :type="errorMessages.hasOwnProperty('id_tingkat_sekolah') ? 'is-danger' : ''"
      :message="showErrorMessages('id_tingkat_sekolah')"
    >
      <b-select
        name="id_tingkat_sekolah"
        placeholder="Silahkan pilih"
        :value="currentData.id_tingkat_sekolah || null"
        expanded
      >
        <option
          v-for="(level, nama_tingkatan, i) in schoolLevel"
          :key="i"
          :value="level"
        >{{ nama_tingkatan }}</option>
      </b-select>
    </b-field>

    <slot name="address-form"></slot>
    <slot></slot>
    <button type="submit" class="button info">HTTP</button>
  </form>
</template>

<script>
import mainDataHandler from "../../../mixins/mainDataHandler";
import errorMessages from "../../../mixins/errorMessages";
import { API_URL } from '../../../modules/constants';

export default {
  mixins: [mainDataHandler, errorMessages],
  name: "creation-form",
  props: {
    postUrl: {
      type: String,
      required: true
    },
    schoolLevel: {
      type: [Array, Object],
      required: true
    },
    mode: {
      type: String,
      default: "create",
      required: true
    }
  },
  data() {
    return {
      fields: [
        "nama_sekolah",
        "id_tingkat_sekolah",
        "nama_alamat",
        "alamat_utama",
        "alamat",
        "provinsi",
        "kota",
        "kecamatan",
        "kelurahan"
      ]
    };
  },
  methods: {
    addSchool(e) {
      e.preventDefault();

      const payload = this.manualFormModel(this.fields);
      axios
      .post(API_URL, payload)
        .then(e => console.log({ e }))
        .catch(err =>
          this.$store.dispatch(
            "formHandling/pushErrorMessages",
            err.response.data.errors
          )
        );
    },
    manualFormModel(elements) {
      let form = document.forms[0];
      let payload = {};

      elements.forEach(element => payload[element] = form[element].value);

      return payload;
    }
  }
};
</script>