<template>
  <div>
    <!-- Pilihan Sekolah -->
    <b-field class="cell" label="Sekolah">
      <b-select v-model="id_sekolah" placeholder="Pilih Sekolah" @input="ambilDataTendik" expanded>
        <optgroup
          v-for="tingkatan_sekolah in sekolah"
          :key="tingkatan_sekolah.id"
          :label="tingkatan_sekolah.nama_tingkatan"
        >
          <option
            v-for="sekolah in tingkatan_sekolah.sekolah"
            :key="sekolah.id"
            :value="sekolah.id"
          >{{ sekolah.nama_sekolah }}</option>
        </optgroup>
      </b-select>
    </b-field>

    <!-- Identitas -->
    <b-field class="cell" label="Identitas">
      <b-select
        name="id_data_pribadi"
        v-model="id_data_pribadi"
        placeholder="Pilih data diri Anda"
        @input="memilihDataDiri"
        expanded
      >
        <option v-for="k in karyawan" :value="k.id" :key="k.id">{{ k.nik }} - {{ k.nama }}</option>
      </b-select>
    </b-field>

    <!-- ID Data Jenis Akun -->
    <input type="hidden" v-model="id_data_jenis_akun" name="id_data_jenis_akun" />

    <!-- Alamat Email untuk menerima kode aktivasi akun -->
    <b-field
      class="cell"
      label="Alamat e-mail"
      type="is-info"
      message="Kode aktivasi akun akan dikirimkan ke alamat email yang tertera"
      v-if="id_data_pribadi"
    >
      <b-input v-model="email_placeholder" name="email" readonly></b-input>
    </b-field>
  </div>
</template>
<script>
export default {
  props: {
    sekolah: {
      required: true,
      type: [Array, Object]
    }
  },
  data() {
    return {
      id_sekolah: "",
      id_data_pribadi: "",
      id_data_jenis_akun: "",
      email_placeholder: "",
      karyawan: []
    };
  },
  methods: {
    ambilDataTendik() {
      this.id_data_pribadi = "";

      axios
        .get(
          `${this.$root.BASE_APP_URL}/api/test/${this.id_sekolah}/daftar-tendik`
        )
        .then(response => (this.karyawan = response.data.tenaga_pendidik));
    },
    memilihDataDiri(val) {
      let selected = this.karyawan.filter(option => {
        return option.id === val;
      })[0];
      this.email_placeholder = selected.email;
      this.id_data_jenis_akun = selected.id_data_jenis_akun;
    }
  }
};
</script>
