<template>
  <div>
    <b-field class="cell" label="Jenis Akun">
      <b-select
        name="id_jenis_akun"
        @input="accTypeSelection"
        expanded
        placeholder="Silahkan pilih"
      >
        <option v-for="ja in jenisAkun" :key="ja.id" :value="ja.id">{{ ja.nama }}</option>
      </b-select>
    </b-field>

    <b-field :class="jabatanProp.class" label="Jabatan">
      <b-select name="id_jabatan" expanded placeholder="Silahkan pilih">
        <option v-for="jb in jabatanProp.model" :key="jb.id" :value="jb.id">{{ jb.name }}</option>
      </b-select>
    </b-field>
  </div>
</template>

<script>
export default {
  name: "registration-user-role-form",
  props: {
    jenisAkun: {
      type: [Array, Object],
      required: true
    }
  },
  data() {
    return {
      selectedAccType: "",
      jabatanYayasan: [
        { id: 1, name: "Ketua" },
        { id: 2, name: "Bendahara" },
        { id: 3, name: "Sekretaris" },
        { id: 4, name: "Admin" },
        { id: 5, name: "Staff" }
      ],
      jabatanSekolah: [
        { id: 6, name: "Kepala Sekolah" },
        { id: 7, name: "Wakil Kepala Sekolah" },
        { id: 8, name: "Bendahara" },
        { id: 9, name: "Guru" },
        { id: 10, name: "Admin" },
        { id: 11, name: "Pustakawan" },
        { id: 12, name: "Laboran" },
        { id: 13, name: "Staff" }
      ]
    };
  },
  computed: {
    jabatanProp() {
      if (this.selectedAccType === 2 || this.selectedAccType === 3) {
        return this.selectedAccType === 2
          ? { class: "cell", model: this.jabatanYayasan }
          : { class: "cell", model: this.jabatanSekolah };
      } else {
        return {
          class: "is-hidden",
          model: []
        };
      }
    }
  },
  methods: {
    accTypeSelection(val) {
      this.selectedAccType = val;
    }
  }
};
</script>

<style>
</style>
