<template>
    <!-- Agama *required -->
    <b-field label="Agama"
        :type="errorMessages ? 'is-danger' : ''"
        :message="errorMessages || []">
        <b-select name="agama" placeholder="Silakan Pilih" v-model="selectedAgama" expanded>
        <option v-for="agama in daftarAgama"
            :key="agama.id" 
            :value="agama.id"
            :selected="selectedAgama == agama.id">
            {{ agama.nama }}
        </option>
        </b-select>
    </b-field>
</template>

<script>
export default {
    created() {
        this.fetchDaftarAgama()
    },
    data() {
        return {
            daftarAgama: null,
        }
    },
    computed: {
        selectedAgama: {
            get: function() {
                let currentData = this.$store.getters['formHandling/currentData']
                return (currentData && currentData.hasOwnProperty('agama'))
                    ? currentData.agama
                    : null
            },
            set: function(newValue) {
                return newValue
            }
        },
        errorMessages() {
            let errorMessages = this.$store.getters['formHandling/errorMessages']
            return (errorMessages && errorMessages.hasOwnProperty('agama'))
                ? errorMessages.agama
                : null
        }
    },
    methods: {
        fetchDaftarAgama() {
            axios.get(`${process.env.MIX_APP_URL}/api/constant/daftar-agama`)
                .then(e => this.daftarAgama = e.data.agama)
                .catch(err => console.error({err}))
        },
    }
}
</script>