<template>
  <form :action="postUrl" :method="mode">
    <slot></slot>
    <b-field
      label="Nama Yayasan"
      :type="errorMessages.hasOwnProperty('nama_yayasan') ? 'is-danger' : ''"
      :message="showErrorMessages('nama_yayasan')">
      <b-input type="text" name="nama_yayasan" :value="currentData.nama_yayasan" />
    </b-field>

    <slot name="address-form"></slot>

    <button type="submit" class="button info">HTTP</button>
    <button class="button primary" @click="addFoundation">AJAX</button>
  </form>
</template>

<script>
import mainDataHandler from "../../../mixins/mainDataHandler";
import errorMessages from "../../../mixins/errorMessages";

export default {
  mixins: [mainDataHandler, errorMessages],
  name: "form-pembuatan-lembaga",
  props: {
    postUrl: {
      type: String,
      required: true
    },
    mode: {
      type: String,
      required: false,
      default: 'POST'
    }
  },
  data() {
    return {
      id_institution: "",
      fields: [
        "nama_yayasan",
        "alamat_utama",
        "nama_alamat",
        "alamat",
        "provinsi",
        "kota",
        "kecamatan",
        "kelurahan"
      ]
    };
  },
  methods: {
    addFoundation(e) {
      e.preventDefault();

      const payload = this.manualFormModel(this.fields);
      axios
        .post(this.postUrl, payload)
        .then(e => console.log("Berhasil hurray!", e.data))
        .catch(err =>
          this.$store.dispatch(
            "formHandling/pushErrorMessages",
            err.response.data.errors
          )
        );
    },
    manualFormModel(elements) {
      let form = document.forms[0];
      let payload = {};

      for(var i = 1; i < form.elements.length; i++) {
        let el = form.elements.item(i);
        let field_name = el.getAttribute('name');

        if (this.fields.includes(field_name)) {
          payload[field_name] = el.value;
        }
      }

      return payload;
    }
  }
};
</script>