<template>
  <div class="grid-y">
    <!-- Default slot: Form Header -->
    <div class="cell margin-bottom-1">
      <slot></slot>
    </div>
    <!-- ID Alamat untuk update form -->
    <input v-if="entity" type="hidden" name="id_alamat" :value="entity.id">

    <div class="cell">
      <!-- Nama Alamat -->
      <b-field
        label="Nama Alamat"
        :type="errorMessages.hasOwnProperty('nama_alamat') ? 'is-danger' : ''"
        :message="showErrorMessages('nama_alamat')"
      >
        <b-input
          name="nama_alamat"
          placeholder="Contoh: Alamat Rumah, Alamat Utama"
          :value="currentData.nama_alamat"
          expanded
        ></b-input>
      </b-field>

      <!-- Nama Jalan -->
      <b-field
        label="Nama Jalan"
        :type="errorMessages.hasOwnProperty('alamat') ? 'is-danger' : ''"
        :message="showErrorMessages('alamat')"
      >
        <b-input
          name="alamat"
          placeholder="Contoh: Jl. Abd. Dg. Sirua No.16C"
          :value="currentData.alamat"
          expanded
        ></b-input>
      </b-field>

      <!-- Provinsi -->
      <b-field
        label="Provinsi"
        :type="errorMessages.hasOwnProperty('provinsi') ? 'is-danger' : ''"
        :message="showErrorMessages('provinsi')"
      >
        <b-select
          name="provinsi"
          :placeholder="choosePlaceholder"
          :value="currentData.provinsi || null"
          @input.native="admRegionSelected($event, 'provinsi')"
          expanded
        >
          <option v-for="adm in admReg" :key="adm.code" :value="adm.code">{{ adm.nama }}</option>
        </b-select>
      </b-field>

      <!-- Kota / Kabupaten -->
      <b-field
        label="Kota / Kabupaten"
        :type="errorMessages.hasOwnProperty('kota') ? 'is-danger' : ''"
        :message="showErrorMessages('kota')"
      >
        <b-select
          name="kota"
          :placeholder="cityOpened.placeholder"
          :value="currentData.kota || null"
          :disabled="cityOpened.disabled"
          @input.native="admRegionSelected($event, 'kota')"
          expanded
        >
          <option v-for="city in cityList" :key="city.code" :value="city.code">{{ city.nama }}</option>
        </b-select>
      </b-field>

      <!-- Kecamatan -->
      <b-field label="Kecamatan">
        <b-select
          name="kecamatan"
          :placeholder="districtOpened.placeholder"
          :value="currentData.kecamatan || null"
          :disabled="districtOpened.disabled"
          @input.native="admRegionSelected($event, 'kecamatan')"
          expanded
        >
          <option
            v-for="district in districtList"
            :key="district.code"
            :value="district.code || null"
          >{{ district.nama }}</option>
        </b-select>
      </b-field>

      <!-- Kelurahan -->
      <b-field label="Kelurahan">
        <b-select
          name="kelurahan"
          :placeholder="subDistrictOpened.placeholder"
          :value="currentData.kelurahan || null"
          :disabled="subDistrictOpened.disabled"
          expanded
        >
          <option
            v-for="subDistrict in subDistrictList"
            :key="subDistrict.code"
            :value="subDistrict.code || null"
          >{{ subDistrict.nama }}</option>
        </b-select>
      </b-field>

      <!-- Alamat Utama -->
      <slot name="alamat_utama"></slot>
    </div>
  </div>
</template>

<script>
import { API_URL } from "../../modules/constants";
import mainDataHandler from "../../mixins/mainDataHandler";
import errorMessages from "../../mixins/errorMessages";

export default {
  mixins: [mainDataHandler, errorMessages],
  props: {
    admReg: {
      type: Array,
      required: true
    }
  },
  mounted() {
    let currentData = this.$store.getters['formHandling/currentData']
    for (let [key, currentValue] of Object.entries(currentData)) {
      if((key === "provinsi" && currentData[key]) || (key === "kota" && currentData[key]) || (key === "kecamatan" && currentData[key])) {
        let event = {
          target: {
            value: currentValue
          }
        };
        this.admRegionSelected(event, key);
      }
    }
  },
  computed: {
    cityOpened() {
      return this.cityList.length > 0 || this.currentData.kota
        ? { placeholder: this.choosePlaceholder, disabled: false }
        : { placeholder: "Pilih provinsi", disabled: true };
    },
    districtOpened() {
      return this.districtList.length > 0
        ? { placeholder: this.choosePlaceholder, disabled: false }
        : { placeholder: "Pilih kota", disabled: true };
    },
    subDistrictOpened() {
      return this.subDistrictList.length > 0
        ? { placeholder: this.choosePlaceholder, disabled: false }
        : { placeholder: "Pilih kecamatan", disabled: true };
    }
  },
  data() {
    return {
      choosePlaceholder: "Silahkan pilih",
      cityList: [],
      districtList: [],
      subDistrictList: []
    };
  },
  methods: {
    admRegionSelected(event, type) {
      let LINK, TARGET;
      let VAL = event.target.value;
      switch (type) {
        case "provinsi":
          LINK = "/adm-wilayah/daftar-kota/";
          TARGET = "cityList";
          break;
        case "kota":
          LINK = "/adm-wilayah/daftar-kecamatan/";
          TARGET = "districtList";
          break;
        case "kecamatan":
          LINK = "/adm-wilayah/daftar-kelurahan/";
          TARGET = "subDistrictList";
          break;
      }
      axios.get(API_URL + LINK + VAL).then(e => this.regionAssign(e, TARGET));
    },
    regionAssign(source, target) {
      let vm = this;
      vm[target] = source.data;
    }
  }
};
</script>

<style>
</style>
