<template>
    <div class="flex flex-wrap flex-col">
        <!-- Default slot: Form Header -->
        <div class="mb-1">
            <slot></slot>
        </div>
        <!-- ID data pribadi. Hanya mode update -->
        <input v-if="entity" type="hidden" name="id_data_pribadi" :value="entity.id">

        <div class="flex flex-row flex-wrap">
            <!-- Nama Lengkap *required -->
            <b-field
                label="Nama Lengkap"
                class="flex-auto mr-2"
                :type="errorMessages.hasOwnProperty('nama') ? 'is-danger' : ''"
                :message="showErrorMessages('nama')"
            >
                <b-input
                    name="nama"
                    placeholder="Contoh: Abdullah Faqih Umar"
                    aria-placeholder="Nama lengkap. Contoh: Abdullah Faqih Umar"
                    :value="currentData ? currentData.nama : ''"
                    expanded
                ></b-input>
            </b-field>
        </div>

        <!-- Jenis Kelamin *required -->
        <b-field label="Jenis Kelamin">
            <b-radio v-model="gender" name="jenis_kelamin" native-value="L">
                Laki - laki
            </b-radio>
            <b-radio v-model="gender" name="jenis_kelamin" native-value="P">
                Perempuan
            </b-radio>
        </b-field>

        <!-- Tempat lahir *required -->
        <b-field
            label="Tempat Lahir"
            :type="
                errorMessages.hasOwnProperty('tempat_lahir') ? 'is-danger' : ''
            "
            :message="
                errorMessages.hasOwnProperty('tempat_lahir')
                    ? showErrorMessages('tempat_lahir')
                    : []
            "
        >
            <b-input
                name="tempat_lahir"
                placeholder="Contoh: Tarakan"
                aria-placeholder="Tempat lahir. Contoh: Tarakan"
                :value="currentData ? currentData.tempat_lahir : ''"
            ></b-input>
        </b-field>

        <!-- Tanggal lahir *required -->
        <b-field
            label="Tanggal lahir"
            :type="
                errorMessages.hasOwnProperty('tanggal_lahir') ? 'is-danger' : ''
            "
            :message="showErrorMessages('tanggal_lahir')"
        >
            <b-datepicker
                v-model="selectedDateBirth"
                name="tanggal_lahir"
                placeholder="Klik untuk memilih"
                aria-placeholder="Klik untuk memilih tanggal lahir"
                icon="calendar-day"
            ></b-datepicker>
        </b-field>

        <!-- Agama -->
        <select-agama></select-agama>

        <!-- Alama Email -->
        <b-field
            label="Alamat email"
            :type="errorMessages.hasOwnProperty('email') ? 'is-danger' : ''"
            :message="showErrorMessages('email')"
        >
            <b-input
                name="email"
                placeholder="alamat@email.com"
                aria-placeholder="Alamat email. Contoh: alamat@email.com"
                :value="currentData ? currentData.email : ''"
                expanded
            ></b-input>
        </b-field>

        <!-- Nomor Telepon -->
        <b-field label="Nomor Telepon">
            <b-input
                name="telepon"
                placeholder="Contoh: +62411888999"
                aria-placeholder="Nomor telepon. Contoh: +62411888999"
                :value="currentData ? currentData.telepon : ''"
                expanded
            ></b-input>
        </b-field>

        <!-- Nomor HP -->
        <b-field label="Nomor Handphone">
            <b-input
                name="hp"
                placeholder="Contoh: +6282212345678"
                aria-placeholder="Nomor handphone. Contoh: +6282212345678"
                :value="currentData ? currentData.hp : ''"
                expanded
            ></b-input>
        </b-field>

        <!-- NIK -->
        <b-field label="Nomor KTP">
            <b-input
                name="nik"
                placeholder="Contoh: 7371131705910008"
                aria-placeholder="Nomor KTP. Contoh: 7371131705910008"
                :value="currentData ? currentData.nik : ''"
                expanded
            ></b-input>
        </b-field>

        <!-- Nomor Kartu Keluarga -->
        <b-field label="Nomor KK">
            <b-input
                name="no_kk"
                placeholder="Contoh: 7371131705910008"
                aria-placeholder="Nomor Kartu Keluarga. Contoh: 7371131705910008"
                :value="currentData ? currentData.no_kk : ''"
                expanded
            ></b-input>
        </b-field>
    </div>
</template>

<script>
import mainDataHandler from "../../mixins/mainDataHandler";
import errorMessages from "../../mixins/errorMessages";

export default {
    mixins: [mainDataHandler, errorMessages],
    mounted() {
        this.populateSpecialFormFields();
    },
    data() {
        return {
            gender: "L",
            selectedDateBirth: null
        };
    },
    methods: {
        populateSpecialFormFields() {
            // Populated selected Date Birth
            this.selectedDateBirth =
                this.currentData && this.currentData.hasOwnProperty("tanggal_lahir")
                    ? new Date(this.currentData.tanggal_lahir)
                    : null;
        },
    }
};
</script>