<template>
    <div>
        {{ errorMessages }}
    </div>
</template>

<script>
export default {
    computed: {
        errorMessages() {
            return Object.keys(this.$store.getters['formHandling/errorMessages']).length;
        }
    }
}
</script>